@model IEnumerable<WEB_API.Models.TestClass>

@{
    ViewBag.Title = "Details";
}


<div class="form-horizontal" style="padding:30px;">
    <h2>Details</h2>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var m in Model)
        {
            <div class="card text-center">
                <div class="card-header">
                    User
                </div>
                <div class="card-body">
                    <h5 class="card-title">@m.fname @m.lname</h5>
                    <p class="card-text">@m.email</p>
                    @Html.ActionLink("Back to List", "Index", new object { }, new { @class = "btn btn-primary" })
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        }
    </dl>
</div>
<p>
</p>
